---
import Wrapper from "../components/shared/Wrapper.astro";
import FooterLogo from "../components/Logos/FooterLogo.astro";
import FooterNav from "../components/Navigation/FooterNav/FooterNav.astro";
import SocialMediaLinks from "../components/SocialMedia/SocialMediaLinks.astro";

import {
  Logo_Options_Query,
  Footer_Menu_Query,
  Social_Media_Links_Query,
} from "../data/footer/queries";
import "./footer.scss";
import Button from "../components/shared/Button.astro";

const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/graphql`, {
  method: "POST",
  headers: {
    "content-type": "application/json",
  },
  body: JSON.stringify({
    query: `
        query headerQuery {
          ${Logo_Options_Query}
          ${Footer_Menu_Query}
          ${Social_Media_Links_Query}
        }
    `,
  }),
});
const {
  data: {
    footerLogo: { logoOptions },
    socialMediaLinks,
    footerMenu,
  },
} = await response.json();
---

<footer class="main-footer">
  <Wrapper classes="main-footer-wrapper">
    <!-- <div class="main-footer-social">
      <SocialMediaLinks data={socialMediaLinks} />
    </div> -->
    <div class="main-footer-nav">
      <FooterNav items={footerMenu.menuItems.nodes} />
    </div>
    <div class="main-footer-logo">
      <div class="main-footer-logo-cta">
        <Button ele="a" href="/contact">Get Started</Button>
      </div>
      <div class="main-footer-logo__container">
        <FooterLogo data={logoOptions} />
      </div>
    </div>
    <div class="main-footer-privacy">
      <p><a href="/privacy-policy">Privacy Policy and Terms</a></p>
    </div>
    <div class="main-footer-copy">
      <p>© 2026 Goldwing Accounting. All rights reserved.</p>
    </div>
  </Wrapper>
</footer>
